*{
  margin: 0;
  padding:0;
  color: white;
}

.main{
width: 100%;
background: linear-gradient(to top, rgba(0,0,0,.5)50%,rgba(0,0,0,.5)50%), url(image1.jpg);
background-position: center;
background-size: cover;
height: 100vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200;
  float: left;
  height: 70px;
}

.logo{
color: rgb(238, 119, 238);
font-size: 40px;
font-family: cursive;
padding-left: 10px;
float: left;
padding-top: 10px;
}

.MENU{
  width: 500px;
  float: left;
  height: 100px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style-type: none;
  margin-left: 35px;
  margin-top: 27px;
  font-size: 15px;
}

ul li a{
  text-decoration: none;
  color: white;
  font-family: arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: yellow;
}

.Search{
  width: 350px;
  float: left;
  margin-left: 100px;
}

.srch{
  font-family: sans-serif;
  width: 150px;
  height: 30px;
  background: white;
  border: 1px solid black;
  margin-top: 13px;
  border-right: none;
  color: black;
  font-size: 16px;
  float:left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn{
  width: 70px;
  height: 20px;
  border: 2px solid white;
  margin-left: 7px;
  background: black;
  margin-top: 13px;
  color:yellow;
  font-size:16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline:none;
}

.content{
  width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
  color: yellow;
}

.content .cn{
  height: 40px;
  width: 160px;
  background: yellow;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-display: bold;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.content .cn a{
  text-decoration-color: yellow;
  -webkit-text-fill-color: black;
  text-decoration: solid;
  transition: .3s ease;
}

.cn:hover{
  background-color: aliceblue;
}

.content span{
  font-size: 60px;
}

.form{
  width: 250px;
  height: 380px;
background: linear-gradient(to top, rgba(0,0,0,0.9)50%, rgba(0,0,0,0.9)50%);
position: absolute;
top: 20px;
left: 870px;
border-radius: 10px;
padding: 25px;
}

.form h2{
  width: 210px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  background-color: yellow;
  font-size: 25px;
  border-radius: 8px;
  margin: 1px;
  padding: 6px;
}



.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  color: yellowgreen;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}


  .form input:focus{
    outline: none;
  }
::placeholder{
  color: white;
  font-family: arial;
}

.btn2{
  width: 240px;
  height: 40px;
  background: rgb(238, 119, 238);
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
 text-decoration-color: black;
}
.btn2:hover{
  background: yellow;
  color: yellow;
}

.btn2 a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.form .link{
font-family: Helvetica;
font-size: 17px;
padding-top: 20px;
text-align: center;
} 

.form .link a{
  text-decoration: none;
  color: white;
}

.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
 
